<h1>New assignment</h1>

<% form_for(@assignment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :course_id %><br />
    <%= f.text_field :course_id %>
  </p>
  <p>
    <%= f.label :max_grade %><br />
    <%= f.text_field :max_grade %>
  </p>


  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', assignments_path %>
