<%= calendar_date_select_includes "blue" %>
<% content_for :header do -%>
<%= "Attendance: #{@course.name}" %>
<% end -%>
   <% form_for(:category, :html => {:method => :get}) do |f| %>
   Filter by Category: <%= f.collection_select(
      :id, 
      @categories,
      :id,
      :name,
      {:include_blank => false},
      {:onchange => 'this.form.submit();', :name => 'category_id'}) %>
  <%= link_to 'Reset Filter', edit_course_path %>
  <% end %>
 

<table>
  <thead>
    <tr><td><b>Name</b></td><td><b>Surname</b></td>
    <% @attendances.each do |attendance| %>
     <td>
       <%= link_to attendance.attendance_date, edit_attendance_path(attendance), :rel => "facebox" %></td>
     </td>
   <% end %>
  </tr>
</thead>
<% @students.each do |student| %>
  <tr valign="top" class="<%= cycle('odd', 'even') %>">
    <td><%=h student.first_name %></td>
    <td><%=h student.last_name %></td>
    <% @attendances.each do |attendance| %>
    <td>
      <% if r = student.registration_hash[attendance.id] %>
        <% @registration = r %>
           <%= in_place_editor_field :registration, :presence %>
    </td>
  <% end %>
  <% end %>
</tr>
<% end %>
</table>
  <ul>
   <a href="#newattendance" rel="facebox"><img src="/images/add.png" "border=0"</a>New Attendance</a>

</ul>
<div id="newattendance" style="display:none;">

  <%= form_tag :action => "attendance", :id => @course %>
  <h2>Select Date:</h2>
   <p><%= calendar_date_select_tag 'attendance[attendance_date]' %></p>
   <h2> Select Category: </h2> <%= collection_select(:attendance, :category_id, Category.find(:all), :id, :name, :include_blank=> "N/A") %>
<p><%= submit_tag 'Create' %></p>   
</div>
<% content_for :sidebar do -%>
	<h2>Help</h2>
	
	<ul>
          <p>Attendance Codes:</p>
          <p>Present: "1"</p>
          <p>Absent: "0"</p>
          <p>Authorised absence: "nil"</p>
	</ul>
		
<% end -%>


