<% content_for :header do -%>
<%= "Classes" %>
<% end -%>


<table>
  <thead>
    <td><b>Class Name</b></td>
    <td></td>
    <td></td>
  </thead>

  <% for course in @courses %>
  <tr valign="top" class="<%= cycle('odd', 'even') %>">
    <td><%= link_to image_tag('report.png', {:title => 'View Grades', :border => 0}), course %>
  <%= h course.name %></td>
<td><%= link_to image_tag('date_edit.png', {:title => 'Attendance', :border => 0}), edit_course_path(course) %>
    <%= 'Attendance' %></td>
    <td><%= link_to image_tag("delete.png", {:title => "Delete Course", :border => 0}), course, :confirm => 'Are you sure?', :method => :delete %><%= "Delete" %></td>
  </tr>
<% end %>
</table>

<p>
  <%= link_to image_tag('add.png', {:title => 'Create New Class', :border => 0}), new_course_path %><%= link_to 'New Class', new_course_path, :rel => "facebox" %>
</p>
